.sidebar-left {
  width: 164px;
  border-right: 1px solid var(--so-border);
  height: calc(100vh - var(--header-height));
  position: sticky;
  top: var(--header-height);
  padding-top: 24px;
  font-size: 0.8rem;
  flex-shrink: 0;
}

.nav-menu {
  display: flex;
  flex-col: column;
  flex-direction: column;
}

.nav-item {
  padding: 8px 8px 8px 12px;
  color: #525960;
  cursor: pointer;
}

.nav-item:hover {
  color: #0c0d0e;
}

.nav-heading {
  padding: 12px 8px 4px 12px;
  font-weight: bold;
  font-size: 0.7rem;
  color: #6a737c;
}

.nav-item.active {
  font-weight: bold;
  color: #0c0d0e;
  background-color: #f1f2f3;
  border-right: 3px solid var(--so-orange);
}

.pl-4 {
  padding-left: 24px;
}